h1.ren{
    background-color: lightcoral;
    text-align: center;
}
p.r{
    background-color: yellow;
    color: black;
    text-align: center;
}
p.b{
    background-color: lightcoral;
}
span.x{
    color: red;
}
